/* .carousel .carousel-item {
  max-height: 550px;
}

.carousel-item img {
  object-fit: cover;
  max-height: 550px;
} */

/* .contain {
  padding: 20px;
} */

@font-face {
  font-family: "Bebas Neue";
  src: url("../assets/fonts/bebas-neue-thin.otf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("../assets/fonts/bebas-neue-light.otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("../assets/fonts/bebas-neue-regular.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("../assets/fonts/bebas-neue-bold.otf");
  font-weight: 700;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 2px solid red; */
}

html {
  font-size: 62.5%;
  font-family: "Rubik", sans-serif;
}

body {
  line-height: 1;
  font-weight: 400;
  background-color: #111;
  color: #fff;
}

.heading-secondary {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 1.2;
  margin-top: 3.2rem;
  margin-bottom: 4.5rem;
  text-align: center;
  color: #fe9b09;
  display: block;
}

.about-text {
  text-align: center;
  font-size: 1.8rem;
  line-height: 5rem;
  margin-bottom: 9.6rem;
  font-family: "Rubik", sans-serif;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 4.8rem;
  font-family: "Rubik", sans-serif;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.pics {
  margin-top: 4.8rem;
}
.about-img {
  border-radius: 100px;
  width: 50%;
  height: 100%;
  transition: all 0.4s;
}

.about-img:hover {
  transform: scale(1.1);
}

.grid--center-v {
  align-items: center;
}

.pics {
  margin-bottom: 9.6rem;
}
.staff-element {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
}

.staff-name {
  font-size: 1.8rem;
}

.staff-prof {
  font-size: 1.6rem;
}

/*
FOOTER
*/

.logo {
  height: 6rem;
}
.footer {
  padding: 12.8rem 0;
  background-color: rgb(55, 56, 61, 0.5);
  font-family: "Rubik", sans-serif;
}

.grid--footer {
  grid-template-columns: 1.5fr 1fr 1.5fr;
  grid-template-rows: 3fr 1fr;
}

.row-2 {
  grid-column-end: 3;
}

.home-page {
  cursor: pointer;

  display: flex;
  text-align: center;
  justify-content: center;

  font-size: 1.6rem;
  border-radius: 1rem;
  padding: 0.8rem 1.6rem;
  transition: all 0.3s;
}

.home-page:link,
.home-page:visited {
  text-decoration: none;
  background-color: rgb(55, 56, 61, 0);
  color: #fff;
}

.home-page:hover,
.home-page:active {
  background-color: #cf711f;
}

.footer-logo-text {
  display: block;
  margin-bottom: 3.2rem;
  font-size: 3.6rem;
  text-decoration: none;
  color: white;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  list-style: none;

  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #fe9b09;
}

.copy-rights {
  margin-top: 3.2rem;
  font-size: 1.2rem;
}

.col-two-content {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.col-two-link,
.col-three-link {
  text-decoration: none;
  color: white;

  font-size: 1.8rem;
  font-weight: 500;
}

.col-three-link {
  margin-bottom: 4.8rem;
}

.col-two-link:hover {
  text-decoration: none;
  color: white;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
  color: white;
}
.address {
  font-size: 1.6rem;
  margin-bottom: 2.4rem;
}

/* ****************************** */
/* Contact Us */
.hero-img {
  height: 50vh;
  position: relative;
  background-image: linear-gradient(
      rgba(32, 32, 32, 0.6),
      rgba(14, 13, 13, 0.6)
    ),
    url(/img/luis-vidal-FodEsaNZs48-unsplash.jpg);
  background-size: contain;
  /* padding-bottom: 3.2rem; */
}

.contact {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contact-txt {
  top: 70%;
  font-size: 3.2rem;
  font-weight: 600;
  text-transform: uppercase;
}

/* newsletter */
.newsletter {
  margin-top: 9.6rem;
  margin-bottom: 9.6rem;
  height: 600px;
  padding: 10rem;
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  border-radius: 11px;
}

.newsletter form {
  display: flex;
  width: 100%;
  gap: 5rem;
  flex-direction: column;
}

.ele {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.newsletter-form label {
  font-size: 1.6rem;
  font-weight: 500;
}

.newsletter-form input {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.4rem;
  font-family: inherit;
  border: none;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.btn,
.btn:link,
.btn:visited {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 1rem;

  /* only necessary for btn */
  border: none;
  cursor: pointer;

  display: inline-block;
  transition: all 0.3s;
}

.btn:hover {
  background-color: #111;
}

.map {
  margin-top: 9.6rem;
}

.map iframe {
  border-radius: 9px;
  height: 300px;
}

.map-text {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 3rem;
  text-align: center;
}
