/* 1344px */
@media (max-width: 84rem) {
  html {
    font-size: 58%;
  }
}

/* 1136px */
@media (max-width: 74rem) {
  html {
    font-size: 56%;
  }

  .about-text {
    line-height: 4rem;
    max-width: 100rem;
    margin: 0 auto;
  }

  .heading-secondary {
    font-size: 4.4rem;
  }

  .about-us {
    padding: 12.8rem 0;
  }

  .heading-secondary {
    margin-bottom: 3.2rem;
  }
}

/* 976px */
@media (max-width: 61rem) {
  .about-text {
    max-width: 60rem;
  }
}

/* 672px */
@media (max-width: 42rem) {
  html {
    font-size: 50%;
  }

  .about-us {
    padding: 9.6rem 0;
  }

  .about-text {
    line-height: 2rem;
  }

  .footer {
    padding: 6rem 0;
    grid-template-columns: repeat(2, 1fr);
  }

  .grid {
    row-gap: 6rem;
  }

  .logo-col {
    align-items: center;
    grid-row: 2;
    grid-column: span 2;
  }

  .grid--footer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .grid--3-cols {
    column-gap: 3.6rem;
  }
}

/* 592 px */
@media (max-width: 37rem) {
  .grid--3-cols {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .about-text {
    max-width: 40rem;
    line-height: 2rem;
  }

  .about-us {
    padding: 8rem 0;
  }

  .heading-secondary {
    font-size: 3.6rem;
  }
}

/* 352px */
@media (max-width: 22rem) {
  html {
    font-size: 40%;
  }

  .about-us {
    padding: 4rem 0;
  }

  .about-text {
    max-width: 30rem;
    line-height: 2rem;
    font-size: 1.6rem;
  }

  .heading-secondary {
    font-size: 3rem;
  }
}
